<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Button</Title>
			<Author>JWP</Author>
			<Description>XAML Markup for Row Definitions</Description>
			<Shortcut>b</Shortcut>
		</Header>
		<Snippet>
			<Code Language="XAML">
				<![CDATA[
				<Button $end$ />
				]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>